    <!-- Nav section -->
<div class="header-container">
    <div class="logo-container">
        <a href="/"><img src="/assets/logo.png" class="logo"></a>
    </div>
    <div class="nav-container">
            <ul class="navbar">
                <li ><a class="navitem hideOn1125px" href="/">Home</a></li>
                <li ><a class="navitem hideOn1125px" href="/about">About</a></li>
                <li ><a class="navitem hideOn1125px" href="/contact">Contact</a></li>
            </ul>
    </div>
    <div class="header-btn-container">
        <% if (user) { %>
        <span class="header-username hideUser">Hello, <%= user.username %></span>
        <a id="logout"  href="/api/auth/logout">Log out</a></li>
        <% } else { %>
        <a class="hideOnMobile" id="sign-in" href="/login">Login</a></li>
        <a class="hideOnMobile" id="sign-up" href="/signup">Sign Up</a></li>
        <% } %>
        <a class="menu-btn" onclick=showSidebar() href="#"><svg  xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </div>
</div>
