    <!-- Nav section -->
        <a href="#"><img src="/assets/logo.png" class="logo"></a>
            <ul class="navbar">
                <li ><a class="navitem hideOn560px" href="/">Home</a></li>
                <li ><a class="navitem hideOn560px" href="#">About</a></li>
                <li ><a class="navitem hideOn560px" href="/catalog/cars">Vehicle Models</a></li>
                <li ><a class="navitem hideOn560px" href="#">Contact</a></li>
            </ul>

