            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a  href="/">Home</a></li>
                <li><a  href="#">About</a></li>
                <li><a  href="/catalog/cars">Vehicle Models</a></li>
                <li><a  href="#">Contact</a></li>
                <li><a onclick=openSignIn() href="#">Sign In</a></li>
                <li><a onclick=openSignUp() href="#">Sign Up</a></li>
            </ul>
            <div class="header-btn-container">
                <a onclick=openSignIn() class="hideOnMobile" id="sign-in" href="#">Sign In</a></li>
                <a onclick=openSignUp() class="hideOnMobile" id="sign-up" href="#">Sign Up</a></li>
                <a class="menu-btn" onclick=showSidebar() href="#"><svg  xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </div>


            <!-- Modal SignIn -->
            <div id="modalSignIn" class="modalSignIn">
                <!-- Modal content -->
                <div class="modal-content">
                    <span onclick=closeSignIn() class="close">&times;</span>
                    <form id="signInForm">
                        <label for='userEmailSignIn' class="labelEmail">Enter your email address or Username</label>
                        <input type="text" class="userEmailSignIn" id="userEmailSignIn" name="userEmailSignIn" placeholder="Email address or Username">
                        <label for='passSignIn' class="labelPass">Enter your password</label>
                        <input type="password" id="passSignIn" name="passSignIn" placeholder="Password">
                        <button type="submit" class="signin-btn">Sign In</button>
                    </form>
                    <p class="modal-text">Dont have an account? <a class="link" onclick=signUpLink() href="#">Signup here</a></p>
                    <p class="modal-text"><a class="link" href="#">Forgot Password?</a></p>
                </div>
            </div>




            <!-- Modal SignUp -->
            <div id="modalSignUp" class="modalSignUp">
                <!-- Modal content -->
                <div class="modal-content">
                    <span onclick=closeSignUp() class="close">&times;</span>
                    <form class="signUpForm">
                        <label for='usernameSignUp'class="username">Username</label>
                        <input type="text" class="usernameSign" id="usernameSignUp" name="usernameSignUp" placeholder="Username">

                        <label for='userEmailSignUp' class="labelEmail">Email address</label>
                        <input type="text" class="userEmailSignUp" id="userEmailSignUp" name="user/emailSignUp" placeholder="Email address">

                        <label for='passSignUp' class="labelPass">Password</label>
                        <input type="password" id="passSignUp" name="passSignUp" placeholder="Password">

                        <label for='confirmPass'class="labelPass">Confirm password</label>
                        <input type="password" id="confirmPass" name="confirmPass" placeholder=" Confirm Password">

                        <button type="submit" class="signup-btn">Sign Up</button>
                    </form>
                    <p class="modal-text">Already have an account? <a class="link" onclick=signInLink() href="#">Signin here</a></p>
                </div>
            </div>