<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to CSS -->

    <link rel="stylesheet" href="/css/about-style.css">
    <link rel="stylesheet" href="/css/header-media-queries.css">
    <!-- Box Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Car Deal</title>
</head>
<body>
    
    <header> 
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/sidebar.ejs') %>
    </header>
     
    <%- body %>


</body>
</html>