<section>

    <div class="pic">
        <div class="title">
            <h1>About CarDeal</h1>
        </div>
    </div>
    <div class="content">
        <h1>Our Mission</h1>
        <p>At CarDeal, we're committed to providing you 
            with an unparalleled car rental experience. 
            Our mission is to make renting a car easy, 
            convenient, and affordable for everyone.
        </p>


    </div>
    <div class="text">
        <div class="text-1">
            <h1>What We Offer
            </h1>
            <ul>
                <li> <span> Range of Vehicles:</span> Whether you need a compact car for zipping around the city or an SUV for a family road trip, we've got you covered. Choose from our extensive fleet of well-maintained vehicles to find the perfect match for your needs and preferences.</li>
                <li> <span>Flexible Rental Options:</span> We understand that every trip is unique, which is why we offer flexible rental options to suit your schedule. Whether you need a car for a day, a week, or longer, we've got flexible rental plans tailored to your needs.</li>
                <li> <span>Easy Booking Process:</span> Booking a car with CarDeal is a breeze. Our user-friendly online platform allows you to browse available vehicles, compare prices, and make reservations in just a few clicks. You can also reach out to our friendly customer support team for assistance at any stage of the booking process.</li>
                <li> <span>Transparent Pricing:</span> At CarDeal, we believe in transparency. You'll never have to worry about hidden fees or surprises when you rent with us. Our pricing is straightforward, with no hidden costs, so you can budget confidently for your trip.</li>
                <li> <span>Top-Notch Customer Service:</span> Your satisfaction is our top priority. Our dedicated team of professionals is here to ensure that your car rental experience is smooth and hassle-free. From pickup to drop-off, we're committed to providing you with exceptional service every step of the way.</li>
            </ul>
        </div>
        <div class="text-2">
            <h1 class="story">Our Story</h1>
            <p>CarDeal was founded with a simple yet powerful idea: to revolutionize
             the car rental industry by putting the customer first. Since our inception,
              we've been on a mission to redefine the way people rent cars, making it 
              easier, more convenient, and more affordable than ever before.</p>
              <h1 class="care">Caring for Quality</h1>
              <p>At CarDeal, quality isn't just a goal; it's our guiding principle.
                 From the moment you choose us, expect nothing but the best. Our 
                 commitment to excellence runs through every car we offer, ensuring 
                 safety and reliability. We're dedicated to making your experience 
                 seamless, providing top-notch service every step of the way. Experience 
                 the difference with CarDeal.
              </p>
      
            <h1  class="touch">Get in Touch</h1>
            <p>Ready to hit the road with CarDeal? Browse our inventory, make a reservation,
             or reach out to our team for assistance. We're here to help you make your next trip unforgettable!</p>
        </div>
    </div>
</section>

<footer>
    <div class="footer-container">
        <p>&copy; 2024 CarDeal. All rights reserved.</p>
    </div>
</footer>
<script src="/js/main.js">S</script>