<!-- Catalog Container -->
<section class="catalog-section">
<div class="catalog-container">

    <div class="filter-container">

        <div class="title filters">
            <h4>Search Filters</h4>
        </div>

        <div class="car-type filters">
            <h4>Car Type</h4>
            <label class="mcui-checkbox">
                <input type="checkbox">
                <div>
                <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                    <title>checkmark-circle</title>
                    <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                </svg>
                </div>
                <div>Unchecked</div>
            </label>
            
            <label class="mcui-checkbox">
                <input type="checkbox" checked>
                <div>
                <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                    <title>checkmark-circle</title>
                    <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                </svg>
                </div>
                <div>Checked</div>
            </label>              
        </div>

        <div class="capacity filters">
            <h4>Capacity</h4>
            <label class="mcui-checkbox">
                <input type="checkbox" checked>
                <div>
                <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                    <title>checkmark-circle</title>
                    <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                </svg>
                </div>
                <div>3 to 5 passengers</div>
            </label> 
            <label class="mcui-checkbox">
                <input type="checkbox" checked>
                <div>
                <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                    <title>checkmark-circle</title>
                    <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                </svg>
                </div>
                <div>6 or more</div>
            </label> 
        </div>

        <div class="car-options filters">
            <h4>Car Options</h4>
            <label class="mcui-checkbox">
                <input type="checkbox" checked>
                <div>
                <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                    <title>checkmark-circle</title>
                    <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                </svg>
                </div>
                <div>4+ doors</div>
            </label> 
            <label class="mcui-checkbox">
                <input type="checkbox" checked>
                <div>
                <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                    <title>checkmark-circle</title>
                    <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                </svg>
                </div>
                <div>A/C</div>
            </label> 
            <label class="mcui-checkbox">
                <input type="checkbox" checked>
                <div>
                <svg class="mcui-check" viewBox="-2 -2 35 35" aria-hidden="true">
                    <title>checkmark-circle</title>
                    <polyline points="7.57 15.87 12.62 21.07 23.43 9.93" />
                </svg>
                </div>
                <div>Automaic</div>
            </label> 
        </div>

    </div>

    <div class="cars-catalog-container">
        <h4>Cars catalog</h4>
    </div>











    <div class="cars-container">
        
    </div>
</div>

</section>
