    <!-- Home section -->
    <section class="home" id="home">
        <div class="home-container">
            <div class="column left">
                <h4>Plan your trip now</h4>
                <h1>Unlock Your Journey,<br> One Rental at a Time.</h1>
                <p>Experience the freedom of the open road with our hassle-free car rental services.<br> Book now and let us pave the way for your unforgettable travel experience.</p>
                
                <div class="home-btn-container">
                    <a href="#car-select" class="rent-now-btn">Rent Now <svg  xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="24"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg></a></li>
                    <a href="#" class="learn-more-btn">Learn More <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 -960 960 960" width="24"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg></a></li>
                </div>
            </div>

            <div class="column right" id="img-col">
                <img src="assets/civic-2014.png" alt="">
            </div>
        </div>
        <br>
    </section>

    <!-- Booking section -->
    <section class="booking" id="bookingdown">  
        <div class="booking-container">
            <div class="column" id="book-col-1">
                <h1 class="title">Book a car</h1>

                <!-- Column 1 -->
                <h4 >
                    <span class="svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M240-200v40q0 17-11.5 28.5T200-120h-40q-17 0-28.5-11.5T120-160v-320l84-240q6-18 21.5-29t34.5-11h440q19 0 34.5 11t21.5 29l84 240v320q0 17-11.5 28.5T800-120h-40q-17 0-28.5-11.5T720-160v-40H240Zm-8-360h496l-42-120H274l-42 120Zm68 240q25 0 42.5-17.5T360-380q0-25-17.5-42.5T300-440q-25 0-42.5 17.5T240-380q0 25 17.5 42.5T300-320Zm360 0q25 0 42.5-17.5T720-380q0-25-17.5-42.5T660-440q-25 0-42.5 17.5T600-380q0 25 17.5 42.5T660-320Z"/></svg>
                    </span>Select your car type 
                    <span >*</span>
                </h4>
                <select type="text" class="car-type">
                    <option value="default">Select Car type</option>
                    <option value="default">Sedan</option>
                    <option value="default">SUV</option>

                </select>
                <!-- Pick Up date -->
                <br>
                <br>
                <h4 >
                    <span class="svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path d="M480-400q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Z"/></svg>
                    </span>Pick up date
                    <span >*</span>
                </h4>
                <input type="date" class="pickup-date">
            </div>

            <!-- Column 2 -->

            <div class="column" id="book-col-2">
                <!-- Pick up location -->
                <h4 >
                    <span class="svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 400Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Z"/></svg>
                    </span>Pick up location
                    <span >*</span>
                </h4>
                <select type="text" class="car-type">
                    <option value="default">Select pick up location</option>
                    <option value="Manila">Manila</option>
                    <option value="Quezon City">Quezon City</option>
                    <option value="Cebu City">Cebu City</option>
                    <option value="Davao City">Davao City</option>
                    <option value="Baguio City">Baguio City</option>
                    
                </select>  
                <br>
                <br>
                <!-- Drop off date -->
                <h4 >
                    <span class="svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path d="M480-400q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Z"/></svg>
                    </span>Drop off date
                    <span >*</span>
                </h4>
                <input type="date" class="pickup-date">
            </div>

            
            <!-- Column 3 -->
            <div class="column" id="book-col-3">
                <h4 >
                    <span class="svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 400Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Z"/></svg>
                    </span>Drop off location
                    <span >*</span>
                </h4>
                <select type="text" class="car-type">
                    <option value="default">Select drop off location</option>
                    <option value="Manila">Manila</option>
                    <option value="Quezon City">Quezon City</option>
                    <option value="Cebu City">Cebu City</option>
                    <option value="Davao City">Davao City</option>
                    <option value="Baguio City">Baguio City</option>
                    
                </select>  
                <br>
                <br> 
  
                
                
                    <!-- Search Button -->
                <button class="search-btn">
                    Search
                </button>
            </div>
        </div>
    </section>
 
    <!-- Steps section -->
    <section class="steps">
        <!-- Row -->
        <div class="steps-container">
            <h3 class="heading">Plan your trip now</h3>
            <h1>Quick & easy car rental</h1>
            <!-- Column 1 steps -->
            <div class="column">
                <i class='bx bxs-map' ></i>
                <h3 class="title">Choose a location</h3>
                <p>Select the preferred pickup and drop off locations from a list of available options.</p>
            </div>
            <!-- Column 2 steps -->
            <div class="column">
                <i class='bx bxs-calendar' ></i>
                <h3 class="title">Pick-up date</h3>
                <p>Specify the date and time you wish to pick up the rental car.</p>
            </div>
            <!-- Column 3 steps -->
            <div class="column">
                <i class='bx bxs-book-add' ></i>
                <h3 class="title">Book a car</h3>  
                <p>Browse through the available cars and complete the booking process by selecting your desired vehicle.</p> 
            </div>
        </div>
    </section>

    <!-- Car selection  -->
    <section class="car-select" id="car-select" >
        <div class="car-select-container" >
            <h3 class="text">Vehicle Models</h3>
            <h1>Our rental fleet</h1>  
            <p class="text-p">Choose from a variety of our amazing vehicles to rent for your next <br>adventure or business trip
            </p> 
            <!-- Column 1 -->
            <div class="column left">
                <button class="car-select-btn">Honda Civic</button>
                <button class="car-select-btn">Hyundai Tucson</button>
                <button class="car-select-btn">Toyota Vios</button>
                <button class="car-select-btn">Nissan Almera</button>
                <button class="car-select-btn">Mitsubishi Lancer</button>
                <button class="car-select-btn">Ford Fusion</button>
                <a class="seeAll-btn" href="cars.html">See All</a>

            </div>
            <!-- Column 2 -->
            <div class="column middle">
                <img class="carImage" src="assets/rental-cars/honda-civic.png" alt="">
            </div>
            <!-- Column 3 -->
            <div class="column right">
                <div class="heading-container">
                    <h2 class="heading">
                        <span>30$</span>/ rent per day
                    </h2>
                </div>
                <div class="content">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Model</td>
                                <td class="carModel">Civic</td>
                            </tr>
                            <tr>
                                <td>Mark</td>
                                <td class="carMark">Honda</td>
                            </tr>
                            <tr>
                                <td>Year</td>
                                <td class="carYear">2014</td>
                            </tr>
                            <tr>
                                <td>AC</td>
                                <td class="acStatus">Yes</td>
                            </tr>
                            <tr>
                                <td>Doors</td>
                                <td class="doors">4</td>
                            </tr>
                            <tr>
                                <td>Transmission</td>
                                <td class="transmission">Automatic</td>
                            </tr>
                            <tr>
                                <td>Fuel Type</td>
                                <td class="fuelType">Gasoline</td>
                            </tr>
                        </tbody>
                            
                    </table>
                    <button class="reserve-btn">Reserve&nbsp;Now</button>
                </div>
            </div>
    </section>

    <!-- Download app and Footer Section -->
    <section>
        <div class="download-container">
            <div class="column left">
                <h1 class="title">Download our app to get most out of it</h1>
                <p>Unlock exclusive features and stay updated on the latest 
                    offers by downloading our app today. Seamlessly connect
                     with us and enhance your experience wherever you are.</p>
                    <div class="img-container">
                     <img class="img-google" src="assets/get-in-google-play.png" alt="">
                     <img class="img-apple" src="assets/app-store.png" alt="">
                    </div>
            </div>
            <div class="column right">
                <img src="assets/phone-pic.jpg" alt="">
            </div>
        </div>

        <!-- Footer -->
        <div class="footer-container">
            <div class="column col-1">
                <h3 class="title">CAR&nbsp;<span>Rental</span></h3>
                <p class="desc-1">Experience the freedom of the open road with our premium car rental service, where convenience meets affordability.</p>
                <h5 class="contacts"><i class='bx bxs-phone-call'></i>&nbsp;(123)-456-789</h5>
                <h5 class="contacts"><i class='bx bxs-envelope' ></i>&nbsp;carrental@gmail.com</h5>
            </div>
            <div class="column col-2">
                <h3 class="title">COMPANY</h3>
                <p class="company">Philippines</p>
                <p class="company">Careers</p>
                <p class="company">Mobile</p>
                <p class="company">Blog</p>
                <p class="company">How we work</p>

            </div>
            <div class="column col-3">
                <h3 class="title">WORKING HOURS</h3>
                <p class="working-hours" ><span class="small-screen">Mon&nbsp;-&nbsp;Fri:&nbsp;</span>9:00AM&nbsp;-&nbsp;6:00PM</p>
                <p class="working-hours"><span class="small-screen">Sat:&nbsp;</span>9:00AM&nbsp;-&nbsp;5:00PM</p>
                <p class="working-hours">Sun:&nbsp;Closed</p>
            </div>
            
            <div class="column col-4">
                <h3 class="title">SUBSCRIPTION</h3>
                <p class="sub">Enter your Email address for latest news & updates</p>
                <input type="text" placeholder="Enter Email Address">
                <button>Submit</button>
            </div>
        </div>    
    </section>
    <!-- Link to JS -->
    <script src="/js/main.js">S</script>

</body>
</html>