<!-- Signin container -->
<div id="signin-container" class="signin-container">
    <!-- Modal content -->
    <div class="form-content">
        <form>
            <h1>Log in</h1>
            <label for='emailSignIn' class="labelEmail">Email address</label>
            <input type="text" class="emailSignIn" id="emailSignIn" name="emailSignIn" placeholder="Email address or Username">
            <div class="error email"></div>

            <label for='passSignIn' class="labelPass">Password</label>
            <input type="password" id="passSignIn" name="passSignIn" placeholder="Password">
            <div class="error password"></div>
            
            <button type="submit" class="signin-btn">Sign In</button>
        </form>
        <p class="form-text">Dont have an account? <a class="link" href="/signup">Signup here</a></p>
        <p class="form-text"><a class="link" href="#">Forgot Password?</a></p>
    </div>
    <div class="testaccount">
        <h4>Demo Account:</h4>
        <p>Email: test@gmail.com</p>
        <p>Password: testpassword</p>
    </div>
</div>



<script src="/js/loginScript.js"></script>
<script src="/js/main.js">S</script>