<!-- Signup container -->
<div id="signup-container" class="signup-container">
    <!-- Modal content -->
    <div class="form-content">
        <form class="signup-form">
            <h1>Sign up</h1>
            <label for='usernameSignUp'class="labelUsername">Username</label>
            <input type="text" class="usernameSignUp" id="usernameSignUp" name="usernameSignUp" placeholder="Username">
            <div class="error username"></div>

            <label for='userEmailSignUp' class="labelEmail">Email address</label>
            <input type="text" class="userEmailSignUp" id="userEmailSignUp" name="user/emailSignUp" placeholder="Email address">
            <div class="error email"></div>

            <label for='passSignUp' class="labelPass">Password</label>
            <input type="password" id="passSignUp" name="passSignUp" placeholder="Password">

            <button type="submit" class="signup-btn">Sign Up</button>
        </form>
        <p class="form-text">Already have an account? <a class="link" href="/login/">Login here</a></p>
    </div>
</div>

<script src="/js/signupScript.js">

</script>
<script src="/js/main.js">S</script>