@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --main-color: #FF3714;
    --second-color: #ffac38;
    --text-color: #444;

    --black-color: black;
    --grey-color: #8d9aa9;
    --bezier: cubic-bezier(0.65, 0.25, 0.56, 0.96);
}
html::-webkit-scrollbar{
    width: 0.5rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
html{scroll-behavior: smooth;}

section{padding: 85px 150px;}
/* -----------Nav bar section----------- */

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 0px 150px;
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
}
.header-container{
  display: flex;
  width: 100%;
}
.logo-container{
  /* background-color: #fe5b3d; */
  width: 8%;
}
.nav-container{
  /* background-color: gray; */
  display: flex;
  width: 72%;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  padding: 0 auto 0 auto;   
}
.header-btn-container{
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #ffac38; */
  justify-content: flex-end;
}

  /* Nav bar logo */
  .logo{
      width: 100%;
      height: 100%;
  }

  /* Nav bar ul style */
  .navbar{
      display: flex;
      text-align: center;
      justify-content: center; /* Center items horizontally */
      padding: 0 0 0 11%;

  }.navbar li{
      position: relative;
      padding: 0px 5px;
  }.navbar a{
      font-size: 16px;
      padding: 10px 10px;
      color: var(--text-color);
      border: 1px solid transparent;
      }.navbar a:hover{
          border-radius: 100px;
          box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
      }
  /* Button container */
  #sign-in{
      color: var(--text-color);
      padding: 10px 10px;
  }#sign-up{
      background: var(--main-color);
      color: #fff;
      border-radius: 100px;
      padding: 10px 20px;
  }#logout{
      background: black;
      color: #fff;
      border-radius: 100px;
      padding: 10px 20px;
      text-align: center;
  }.header-username {
      white-space: nowrap; /* Prevents wrapping of long usernames */
      overflow: hidden; /* Hides any overflow (long usernames) */
      text-overflow: ellipsis; /* Adds ellipsis (...) to indicate text overflow */
      margin-right: 10px;
      font-size: 16px; /* Adjust font size as needed */
      font-weight: 500; /* Adjust font weight if necessary */
      max-width: 140px; /* Limit width to prevent overflow */
  }.header-btn-container a{
      padding: 0px 10px;
      align-items: center;
  }
  .menu-btn{
      display: none;
      align-items: center;
  }
  /* Sidebar style */
  .sidebar{
      padding-top: 30px;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      z-index: 999;
      background-color: rgb(214, 202, 202, 0.2);
      backdrop-filter: blur(10px);
      box-shadow: -10px 0 10px rgba(0,0,0,0.1);
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px 10px;
  }.sidebar li{
      width: 100%;
      padding: 2px 10px;
  }
  .sidebar a{
      width: 100%;
      color: var(--text-color);
  }
  /* ul style */
  nav ul{
      box-shadow: -10px 0 10px rgba(0,0,0,0.2);
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: center;
  }
  .modalSignIn{
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(117, 121, 124); /* Fallback color */
      background-color: rgba(117, 121, 124,0.6); /* Black w/ opacity */
    }
    .modalSignUp {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(117, 121, 124); /* Fallback color */
      background-color: rgba(117, 121, 124,0.6); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 30px 20px 20px 20px;
      border: 1px solid #888;
      width: 30%;
      border-radius: 10px;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      top: 14%;
      right: 36%;
      font-size: 28px;
      font-weight: bold;
      position: absolute;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }



/* -----Cars catalog----- */

body{
    background-color: #F0F3F5;
    height: 100vh;
    justify-content: center;
    line-height: 1.5;
}
.catalog-container{
    display: flex;
    width: 100%;
}
.modal {
  display: none; /* Hide the modal initially */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure modal is on top of other content */
}

.modal-content {
  background-color: #fff;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal.visible {
  display: block; /* Show the modal when it has 'visible' class */
}
.close{
  cursor: pointer;
  font-size:35px;

}


.filter-container{
  background-color: white;
  border-radius: 10px;
  border: 1px solid #D9E2E8;
  padding: 10px;
  width: 100%;
  margin-top: 64px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.search-filter-title{
  display: flex;
  align-items: center;
  padding: 0 0 10px 0;
}
.search-filter-title i{
  padding: 0 5px 0 0;
}
.filters{
    padding: 10px 0 10px 0;
}


.car-type::after,
.capacity::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  padding-bottom: 10px; 
}


  .mcui-checkbox {
    display: flex;
    align-items: center;
    user-select: none;
    padding: 0.6em 0;
    box-sizing: border-box;
  }
    .mcui-checkbox input[type="checkbox"]{
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
    }
  
    input[type="checkbox"] + div{
      border: 2px solid var(--grey-color);
      height: 1.5em;
      width: 1.5em;
      box-sizing: border-box;
      border-radius: 2px;
      position: relative;
    }
  
    input[type="checkbox"] ~ div:last-child{
      padding-left: 0.5em;
    }
  
    
  
    input[type="checkbox"]:active + div{
      outline: 2px dashed var(--grey-color);
      outline-offset: 2px;
    }
  
    input[type="checkbox"]:checked + div {
      border-color: var(--black-color);
      transition: border-color 107ms var(var(--bezier));
  
      .mcui-check {
        opacity: 1;
        transition: opacity 107ms var(--bezier);
  
        polyline {
          animation: dash-check 107ms var(--bezier) forwards;
        }
      }
    } 

  
  .mcui-check {
    height: 100%;
    width: 100%;
    transform: scale(1);
    color: var(--black-color);
    opacity: 0;
  
    polyline {
      fill: none;
      transform-origin: 50% 50%;
      stroke-width: 5px;
      stroke-dasharray: 22.771367900227325;
      stroke: currentcolor;
    }
  }
  
  @supports (display: grid) {
    .mcui-check {
      polyline {
        stroke-dashoffset: 22.771367900227325;
      }
    }
  }
  
  @keyframes dash-check {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .filter-container .filters label div {
    font-size: 0.82em; /* Adjust the font size as needed */
}
.filter-btn{
  display: flex;
  justify-content: center;
}
.show-results{
  padding: 5px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--main-color);
  border: none;
  width: 80%;
  height: 5vh;
  border-radius: 5px;
}

/* Seacrch container */
.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Adjust as needed for desired spacing */
  margin: 5px 0;
}

.search-container form {
  width: 100%; /* Ensure the form fills the width of the container */
  display: flex;
  align-items: center;
}
.search-container img{
  width: 40%;
  margin: auto;
}
.search-container .modal-btn{
  width: 4%;
  height: 6vh;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container input,
.search-container select {
  flex: 1; /* Allow input and select elements to grow and fill available space */
  height: 6vh;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
   /* Add spacing between elements */
  border: none;
}

.search-container .modal-btn,
.search-container input,
.search-container select {
  margin-right: 10px;
}

.carType {
  width: 12%; /* Fixed width for carType select */
}

.select-loc {
  width: 20%; /* Fixed width for select-loc selects */
}

input[type="date"] {
  flex: 1; /* Allow date inputs to grow and fill available space */
  height: 6vh;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
}

.search-btn-icon {
  width: 4.5%;
  height: 6vh;
  background-color: var(--main-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.search-btn-icon i {
  font-size: 22px;
  color: white;
}














/* ----------Catalog container---------- */

.cars-catalog-container {
  width:84%;
  display: flex;
  margin:0 auto 0 auto;
  /* background-color: #FF3714; */
  flex-direction: column;
}
.results-text{
  padding: 10px 5px 0px 5px;

}
.items{
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #D9E2E8;
  padding: 10px; 
  margin: 10px 0;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
}
.card-photo{
  width: 30%;
  /* background-color: green; */
  height: 23.5vh;
  display: flex;
  align-items: center;
  

}
.card-photo img{
  width: 90%;
  margin: auto;
  height: 100%
  
}
.card-content{
  width: 70%;
  padding: 15px 0 15px 5px;
  display: flex;
}
.card-content .text{
  width: 70%;
  /* background-color: yellow; */
  /* border-right: 1px solid #ccc; */
}
.item-name{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;

}
.item-name img{
  width: 3.4%;
  margin-left: 5px;

}
.sub-text{
  font-size: 10px;
}
  .specs-list-container{
    display: flex;
    margin-bottom: 10px;
  }
  .specs-list-container .specs{

    align-items: center;
  }
  .specs-list-container p{
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-right: 10px;
  }
  .specs-list-container img{
    width: 3%;
    height: 3%;
    margin-top: 7px;
    margin-right: 5px;
  }
  .locations{
    display: flex;
    width: 100%;
  }
  .locations .pick-up,
  .locations .drop-off{
    width: 50%;
    display: flex;
  }

  .locations p{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
  }
  .locations img{
    width: 12%;
    margin-right: 5px;
  }
  .line-horizontal{
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
  }
.line-vertical{
  height: 100%;
  border-right: 1px solid #ccc;
  margin: 0 15px;
}
.locations::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  padding-bottom: 10px; 
}

.card-content .total-book{
  width: 30%;
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
}
.card-content .price{
  display: flex;
  width: 80%;
  height: 70%;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto 0 20px;
  /* background-color: #ffac38; */
}
span{
  font-size: 23px;
  font-weight: 550;
}
.sub-text, span{
  margin: 0 0 5px 0;
}
.card-content a{
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 28.5%;
  color: white;
  font-size: 17px;
  font-weight: 650;
  border-radius: 5px;
  border: none;
  margin: 0 auto 0 auto;
}




.noResult{
  margin: 10px 20px 0 0 ;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  text-align: center;
  width: 100%;
  padding: 20px 0 15px 0;
}.noResult p{
  font-size: 14px;
  margin: 10px 0 15px 0;
}.noResult a{
  font-size: 14px;
  font-weight: 600;
  color: blue;
  margin-bottom:15px;
}
  /* .tooltips{
    display: flex;
    width: 100%;
  }
  .left{
    width: 50%;
  }
  .tooltips i{
    font-size: 15px;
  } */